name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - '**'

jobs:
  compile:
    uses: ./.github/workflows/compile.yml

  publish:
    needs: compile
    runs-on: ubuntu-latest
    env:
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Java and Maven
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          cache: maven
          server-id: central
          server-username: SONATYPE_USERNAME
          server-password: SONATYPE_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: Publish snapshot
        run: mvn deploy -DskipTests -B

      - name: Publish release
        if: github.ref_type == 'tag'
        run: mvn deploy -DskipTests -Drevision=${{ github.ref_name }} -Prelease -B
